body{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.container form{
    display: grid;
    place-items: left;
    background:#8f9296;
    padding:10px;
}
.container div{
    background:white;
    padding:10px;
    border-radius: 20px;
}
